.background {
	-fx-color : #474849;
	-fx-font-familly: "Segoe UI Light";
}

#btnLaunchFilters{
	-fx-background-color :#009DD5;
	-fx-text-fill: #FFFFFF;
	-fx-background-radius:0,0,0,0;
}

#btnLaunchFilters:hover{
	-fx-background-color :#009DD5;
	-fx-text-fill: #000000;
	-fx-background-radius:0,0,0,0;
}

#btnLaunchFilters:pressed{
	-fx-background-color :#0274E0;
	-fx-text-fill: #DDDDDD;
	-fx-background-radius:0,0,0,0;
}

.filter{
	-fx-color: #FFFFFF;
}

.global{
	-fx-background-color :#474849;
}

#tilte{
	-fx-text-fill: #FFFFFF;
}

#filterName,#cbType{
	-fx-background-radius:0,0,0,0;
	-fx-border-width :0px;
}

#cbType:hover{
	-fx-background-radius:0,0,0,0;
	-fx-border-width :0px;
	-fx-color : #575859;
}


#tab{
	-fx-background-color :#474849;
	-fx-base:#373839;
	-fx-control-inner-background:#373839;
}
